* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Unicase', serif;
  list-style: none;
}

html {
  background: url('https://media.wnyc.org/i/800/0/c/85/1/maxresdefault_kmQ7K9g.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  max-width: 100%;
  margin: 0 auto;
  margin-left: 10px;
}

ul {
  list-style: none;
  margin-top: 10px;
}
h1, h2 {
  color: rgb(255, 255, 240);
  font-size: 30px;
  text-shadow: 1.5px 1px 1px rgb(0, 0, 0);
}
h2 span {
  margin: 0 20px;
}
p {
  font-size: 30px;
  color: rgb(255, 255, 240);
  text-shadow: 1.5px 1.2px 1px rgb(0, 0, 0);
}

button {
  background: rgba(118, 81, 0, .5);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 240);
  cursor: pointer;
  font-size: 24px;
  transition: background .8s, border .8s, color .8s;
  margin-top: 15px;
  padding: 25px 65px;
}

button:hover {
  background: rgba(118, 81, 0, .8);
  color: rgb(255, 255, 195);
  transition: background 2s, color .8s;
}

fieldset {
  border: none;
  height: 500px;
  position: relative;
}

legend {
  color: rgb(255, 255, 240);
  font-size: 30px;
  text-shadow: 1.5px 1px 1px rgb(0, 0, 0);
}

label {
  cursor: pointer;
  position: relative;
  left: 15px;
  width: 35%;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(255, 255, 240, 0.6);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  left: 5px;
  margin-top: 5.5px;
  max-width: 30%;
  outline: none;
  position: absolute;
  width: 16px;
}

input:checked {
    border: 8px solid rgba(255, 255, 240, 0.7); 
}

.input-li {
  background: rgba(118, 81, 0, .5);
  color: rgb(255, 255, 240);
  cursor: pointer;
  display: block; 
  font-size: 24px;
  margin-top: 0px;
  max-width: 28%; 
  padding: 15px 0;
  transition: background 1s, color 1s;
}

.input-li:hover {
  background: rgba(118, 81, 0, .8);
  color: rgb(255, 255, 195);
  transition: background 1s, color 1s;
}

.main-container {
  width: 100%;
}

.question-text {
  font-size: 38px;
}

.answer-option {
  padding: 0 15px;
}

.portrait-ul {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  height: 600px;
}

.img-container {
  padding-right: 9px;
  width: 100%;
}

.portraits {
  border-radius: 1.5px;
  display: block;
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
}

#scores {
  margin-top: 30px;
}

#final-incorrect {
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  button {
  background: rgba(118, 81, 0, 0.75);
  }
  .input-li {
    background: rgba(118, 81, 0, 0.75);
    max-width: 38%;
  }
}

@media screen and (max-width: 768px) {
  html {
  background: url('https://media.wnyc.org/i/800/0/c/85/1/maxresdefault_kmQ7K9g.jpg');
  background-attachment: fixed;
  background-position-x: 40%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  body {
    margin-left: 0;
  }
  h2 {
    font-size: 28px;
  }
  p, h1, h2, legend {
    text-align: center;
  }
  button {
    width: 100%;
  }
  h2 span {
    font-size: 21px;
    margin: 0 10px;
  }
  .question-text {
    font-size: 30px;
  }
  .input-li {
    max-width: 100%;
  }
  .portrait-ul {
    justify-content: center;
  }
  #scores {
    margin-top: 55px;
  }
}

@media screen and (max-width: 360px) {
  p, h1, h2, legend {
    font-size: 26px;
  }
  h2 span {
    font-size: 16px;
    margin: 0 10px;
  }
  .portraits {
  max-height: 50px;
  max-width: 50px;
  }
  #scores {
    margin-top: 45px;
  }
}